name: Deploy Next.js app

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v5
        with:
          node-version: 16
      - name: Install NPM packages
        run: |
          npm install
        working-directory: ui
      - name: Build Next.js app
        run: npm run build
        env:
          URL_PREFIX: rfid-poker
        working-directory: ui
      - name: Export Next.js app
        run: npm run export
        working-directory: ui
      - name: add nojekyll
        run: touch ./out/.nojekyll
        working-directory: ui
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./ui/out